* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #ec6708;

}


/*nav_bar*/
:root {
  --font-size: 1rem;
}

.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #F0F0F0;
}

.dark-mode {
  --navbar-color: #ffd800;
  --navbar-bg-color:#1a5036;
}

ul {
  list-style: none;
}




/* Navbar */
.navbar {
  display: flex;
  position: relative;
  position: fixed;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--navbar-bg-color);
  color: var(--navbar-color);
  z-index: 4000;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  padding: 0 10px;
}

.navbar__link>a {
  color: var(--navbar-color);
  text-decoration: none;
  font-family: "arial", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
}

.burger {
  display: none;
}

.navbar .navbar__logo .logo {

  width: 90px;
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
  z-index: 4000;

}


/* media query MENU medium */
@media screen and (max-width:1024.98px) {

  .navbar {
    padding: 20px;
  }

  .navbar__links {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0;
    background: var(--navbar-bg-color);
    transform: translateX(110%);
    transition: all .2s ease-in-out;
  }





  .show-nav .navbar__links {

    width: 100vw;
    transform: translateX(0);
  }

  .navbar__link {
    transform: translateX(101%);
    transition: all .2s ease-in-out;
  }

  .show-nav .navbar__link {
    transform: translateX(0);
  }

  .navbar__link>a {
    display: block;
    padding: 1.3rem;
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--navbar-color);
    transition: all .2s ease-in-out;
  }

  .navbar__link>a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }

  /* Toggle menu */

  .burger {
    display: block;
    position: relative;
    padding: 0px;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all .2s ease-in-out;
  }

  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0px;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all .2s ease-in-out;
  }

  .bar::before {
    transform: translateY(-12px)
  }

  .bar::after {
    transform: translateY(12px)
  }

  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /* Bonus - Animations */
  .show-nav .first {
    transition: all .2s ease-out;
  }

  .show-nav .second {
    transition: all .2s ease-out;
  }

  .show-nav .third {
    transition: all .2s ease-out;
  }

  .show-nav .four {
    transition: all .2s ease-out;
  }

  .show-nav .fifth {
    transition: all .2s ease-out;
  }

  .show-nav .sixth {
    transition: all .2s ease-out;
  }

}

/*--media query MENU small  - Bonus */
@media screen and (min-width:768px) {
  .navbar__link>a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width .4s;
  }

  .navbar__link:hover>a::after {
    width: 100%;
  }


  body .photo-burger {

    width: 550px;
  }

  body .photo-dessert {
    width: 550px;
  }

  body .photo-boeuf {
    width: 550px;
  }

  body .nom span {
    font-size: 22px ;
  }

  body h2 {
    font-size: 26px;
  }

  body h3 {
    font-size: 24px;
  }

  body .descr {
    font-size: 16px;
  }
}


@media screen and (max-width: 321px) {
  body h2 {
    font-size: 14px;
  }

  body .nom span {
    font-size: 12px;
  }

  body .descr {
    font-size: 12px;
  }

  .navbar__link>a {
    padding: 0.8rem;
  }
}

/*suite page*/



.container-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

header {
  width: 100%;
}


main {
  width: 100%;
  /*display: flex;
    flex-direction: column;*/
}

.titre {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  background: #1a5036;
  /* border: 3px solid #ffd800; */
  border-radius: 20px;
  margin-top: 170px !important;
  margin-left: 10px;
  margin-right: 10px;
}


figcaption {
  margin: auto;
  color:#ffffff;
  margin-bottom: 10px;
}

.titre h2 {
  font-size: 16px;
}

.titre h2 span {
  font-family: Arial, Helvetica, sans-serif;
  color: #E52825;
}

.titre h2 a {
  color: #000;
}

h3 {
  font-size: 14px;
  font-style: italic;
  padding: 5px;
  color:#FFFFFF;
}


.haut-de-page {
  max-height: 90%;
  display: flex;
  flex-direction: column;


}


.haut-de-page .N1 {
  width: 95vw;
  height: auto;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  /* border: 3px#000000 solid; */
  border-radius: 20px;
  background: #1a5036;

}

.haut-de-page .N {

  width: 95vw;
  height: auto;
  margin: auto;
  margin-top: 20px !important;
  padding: 10px;
  /* border: 3px #ed6c84; */
  border-radius: 20px;
  background: #1a5036;

}

.photo-burger {
  margin: auto;
  width: 300px;
  box-shadow: #000000 5px 5px 10px;
}

.photo-dessert {
  margin: auto;
  width: 300px;
  box-shadow: #000000 5px 5px 10px;
}

.photo-boeuf {
  margin: auto;
  width: 300px;
  box-shadow: #000000 5px 5px 10px;
  display: flex;
}

.news {
  width: 50px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  animation: rotation 1.5s ease-in-out infinite;
  z-index: 5;
}

@keyframes rotation {

  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }

}

#boisson {
  margin-top: 135px;
  scroll-margin: 145px;
}

#entrée {
  scroll-margin: 105px;
}

#plats {
  scroll-margin: 105px;

}

#sdw-burger {
  scroll-margin: 105px;
}

#menu-kids {
  scroll-margin: 105px;
}

#dessert {
  scroll-margin: 105px;
}

#boissonsChaudes {
  scroll-margin: 125px;
}

#digestifs {
  scroll-margin: 125px;
}


#vins {
  scroll-margin: 125px;
}


.prixdessert {
  position: relative;
  left: 60%;
  margin-bottom: 20px;

}

.plus {
  font-size: xx-large;
}

.prixkids {
  position: absolute;
  left: 60vw;
}

.version {
  margin-left: 5vw;
}

li {
  color: #ffd800;
}

h2 {
  color:#FFFFFF;
  font-size: 18px;
  font-weight: 900;
  padding: 5px;
  padding-left: 10px;
  border: 2px solid #ec6708;
  background: #ec6708;
  border-radius: 10px;
}


.descr {

  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
}

.nom {
  color: #ffd800;
}

.nom span {
  font-size: 16px;
  font-weight: 800;
  color: #ffd800;
}


.burger img {
  margin-left: 20px;
}

.veggie {
  color:#ffffff;
}

.happy {
  margin-top: 10px;
}

figcaption {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 14px;
  margin: 5px;
  padding-bottom: 50px;
  color:#FFFFFF;
}

.carteBoisson {
  width: 95vw;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  background: #1a5036;
  /* border: 3px solid #ffd800; */
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px; 
}


@media screen and (min-width:1559px) {

  h1 {
    font-size: 40px;
    margin: auto;
    width: 1000px;
  }

  .carteBoisson {
    font-size: 40px;
    margin: auto;
    width: 1000px;
  }


  .descr {

    padding-left: 20px;
  }



  .haut-de-page .N1 {

    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
  }

  .haut-de-page .N {

    width: 1000px;
    height: auto;
    margin-top: 20px !important;
    margin: auto;
    padding: 30px;


  }


  .prixkids {
    position: absolute;
    left: 68vw;
    width: 150px;
    transform: rotate(20deg);
  }
  
  .prixdessert {
    position: absolute;
    left: 68vw;
    width: 150px;
    transform: rotate(20deg);
  }

  .navbar .navbar__logo .logo {

    width: 150px;
    margin-top: 70px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 1000;
  
  }
  
}